/.PrueboLaClase.java._trace
/.TipoInscripcion.java._trace
/.Condicion.java._trace
/.CondicionEdad.java._trace
/.CondicionLugar.java._trace
/.InscripCondicional.java._trace
/.InscripEstandar.java._trace
/.InscripSolidario.java._trace
/.Inscripcion.java._trace
/.Jugador.java._trace
/.Partido.java._trace
/Condicion.java
/CondicionEdad.java
/CondicionLugar.java
/InscripCondicional.java
/InscripEstandar.java
/InscripSolidario.java
/Inscripcion.java
/Jugador.java
/Partido.java
/TipoInscripcion.java
/.TipoDeSuscripcion.java._trace
