/.TestInscripcion.java._trace
/.TestInscripcionStatefull.java._trace
/TestInscripcion.java
/TestInscripcionStatefull.java
/.TestsInscripcionVariosJugadores.java._trace
/TestsInscripcionVariosJugadores.java
