/.InscCondicional.java._trace
/.InscEstandar.java._trace
/.InscSolidario.java._trace
/.Inscripcion.java._trace
/.Jugador.java._trace
/.Partido.java._trace
/InscCondicional.java
/InscEstandar.java
/InscSolidario.java
/Inscripcion.java
/Jugador.java
/Partido.java
