/.InscEstandar.java._trace
/.Inscripcion.java._trace
/.Jugador.java._trace
/.Partido.java._trace
/.InscSolidario.java._trace
/InscEstandar.java
/InscSolidario.java
/Inscripcion.java
/Jugador.java
/Partido.java
/.inscripcionCondicional.java._trace
/.InscripcionCondicionalNumerica.java._trace
/.InscripcionCondicionalTextual.java._trace
/.InscCondEdad.java._trace
/InscCondEdad.java
/InscripcionCondicionalNumerica.java
/InscripcionCondicionalTextual.java
/.test3.java._trace
/.Test3.java._trace
